html {
    height: 100%;
}

body {
    display: grid;
    grid-template-areas: "header header header"
                         "navigation main ads"
                         "footer footer footer";
    grid-template-columns: 150px 1fr 200px;
    grid-template-rows: 100px 
                        1fr
                        30px;
    min-height: 100vh;
}
.hg_header{
    grid-area:"header";
}
.hg_navigation{
    grid-area: "navigation";
}
.hg_main{
    grid-area: "main";
}
.hg_ads{
    grid-area: "ads";
}

.hg_footer {
    grid-area: "footer";
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: blue;
}

.contactus{
    display: flex;
    grid-auto-flow: row;
    background-color: pink;
}

.header{
    background-color: yellow;
}
@media screen and (max-width: 600px) {
    .hg {
        grid-template-areas: "header"
                             "navigation"
                             "main"
                             "ads"
                             "footer";
        grid-template-columns: 100%;
        grid-template-rows: 100px 
                            50px 
                            1fr
                            50px 
                            30px;
    }
}